/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin:0px;
  padding: 0px;
}
body {
  /* padding: 2em 23em; */
  background:lightgray;
}
/* @media (min-width: 375px) and (max-width: 650px) {
  body {
    padding: 0px 0px;
    background:lightgray;
  }
 } */

